.ulCer{
	 list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.liCer{
	 float: left;
}
.liLogCer{
	 float: right;
}
.aCer{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
	cursor: pointer;
    background-color: olive;
}
.thCert{
	display: block;
    background-color: #5b5b5b;
	color: white;
	 float: left;
	 font-size: 12px;
	
}